html {
  background-color: #f6f6f6;
}

body {
  width: 80%;
  max-width: 1180px;
  margin: 0px auto;
  text-align: left;
  background: white;
  border: solid 1px #BDBDBD;
  border-radius: 4px;
}

span {
  font-size: 16px;
}

p {
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue","Lucida Grande", sans-serif;
  text-align: center;
  font-size: 18px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #BDBDBD;
  margin-bottom: 10px;
  border: solid 1px #BDBDBD;
  border-radius: 4px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
  height: 60px;
  padding-top : 10px;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue","Lucida Grande", sans-serif;
  font-size: 18px;
}

nav li a:hover {
  color: white !important;
}

nav li a:visited, #footer a:active {
  text-decoration: none;
  color: black;
}


#name {
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue","Lucida Grande", sans-serif;
  float: left;
  margin-top: 50px;
  margin-left: 30px;
  font-size: 25px;
}

#name_nav {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue","Lucida Grande", sans-serif;
  font-size: 18px;
}

#logo {
  display: none;
} 

#headshot {
  height: 150px;
  width: 150px;
  margin-left: 150px;
  border-radius: 50%;
  margin-top: 25px;
  float: left;
}

#personal {
  padding: 10px;
  background-color: #E1E1E1;
  height: 200px;
}

.section {
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue","Lucida Grande", sans-serif;
  text-align: center;
  font-size: 18px;
  padding: 10px 10px 10px 10px;
}

#footer {
  background-color: #BDBDBD;
  width: 100%;
  height: 20%;
  padding-bottom: 10px;
  border: solid 1px rgb(222,222,222);
  border-radius: 4px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
}

.headline {
  border: solid 1px rgb(88,88,88);
  /*border-radius: 4px;*/
  /*box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);*/
  margin-bottom: 0;
  background-color: rgb(220,220,220);
}

#publications_section {
  padding: 10px 0px 10px 0px !important;
}

#social-media {
  text-align: center;
}

#social-media > a {
  text-decoration: none;
}

#github, #linkedin {
  width: 70px;
  height: 70px;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.year {
  border: solid 1px rgb(222,222,222);
  border-radius: 4px;
  /*box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);*/
  margin-bottom: 15px;
}

.paper {
  border: solid 1px rgb(222,222,222);
  /*border-radius: 4px;*/
  /*box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);*/
  margin-bottom: 0;
  padding: 0px 10px 0px 10px;
}

#year {
  background-color: #ededed;
}


/* Mobile */

@media only screen and (max-width: 768px) {

  body {
    width: 97%;
  }

  p {
    font-size: 16px;
  }

  nav {
    font-size: 16px;
  }

  span {
    font-size: 14px;
  }

  h3 {
    font-size: 25px;
    padding: 0px 30px 0px 0px;
  }

  /* Mobile header styles */

  nav ul
  {
    width  : 100%;
    margin : 0 0 0 0;
    padding-top: 0px !important;
  }

  nav ul li:hover
  {
    color : white !important;
  }

  nav ul li
  {
    list-style-type: none;
    display: inline-block;
    width: 5%;
    height: 20px;
    cursor: pointer;
    -webkit-transition : all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    text-align: center;
    margin-left: 9%;
  }

  nav a:hover {
    color: lightgrey !important;
  }

  nav a:visited, #footer a:active {
    text-decoration: none;
    color: black;
  }

  nav a {
    text-decoration: none;
    color: black;
  }

  header {
    background-color: #BDBDBD;
    border-bottom: 1px solid rgba(0,0,0,.15);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 4px;
  }

  header > nav {
    background-color: rgba(255, 255, 255, 0.8);
    display: none;
    flex: 1;
    transform: 300ms all ease;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 145px;
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue","Lucida Grande", sans-serif;
  }

  header > nav > ul {
    -webkit-padding-start: 0px !important;
    background-color: white;
    height: 100%;
  }
       
  header nav > ul > li {
    list-style-type: none;
    width: 100%;
    display: block;
    color: rgba(0,0,0,.65);
    text-decoration: none;
    transition: 250ms all ease;
    margin-left: 0%;
  }

  header nav > ul > li:last-of-type {
    border-bottom: none;    
  }

  #name {
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue","Lucida Grande", sans-serif;
    float: right;
    font-size: 3vw;
  }

  #name_nav {
    display: none;
  }

  #headshot {
    margin-left: 50px;
  }
   
  #logo {
    display: inline-block;
  }

  #navToggle {
    float: left;
    margin-left: 10px;
    margin-top: 20px;
  }

}
